
@{
    ViewBag.Title = "AdminTabs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>jQuery UI Tabs - Default functionality</title>
    <link rel="stylesheet" href="~/Scripts/jui/jquery-ui.min.css">
    <link rel="stylesheet" href="~/Scripts/jui/jquery-ui.structure.min.css">
    <link rel="stylesheet" href="~/Scripts/jui/jquery-ui.theme.min.css">
   
    <script src="~/Scripts/jui/jquery-ui.min.js"></script>

</head>
<body>

    <div id="tabs">
        <ul>
            <li><a href="#tabs-1">Admin</a></li>
            <li><a href="#tabs-2">Contractor</a></li>
            <li><a href="#tabs-3">User</a></li>
            <li><a href="#tabs-4">Misc</a></li>
        </ul>
        <div id="tabs-1">
            <p>@Html.Partial("~/Views/PartialViews/HorizontalTabs/Admin.cshtml")</p>
        </div>
        <div id="tabs-2">
            <p>@Html.Partial("~/Views/PartialViews/HorizontalTabs/Contractor.cshtml")</p>
        </div>
        <div id="tabs-3">
            <p>@Html.Partial("~/Views/PartialViews/HorizontalTabs/User.cshtml")</p>
        </div>
        <div id="tabs-4">
            <p>@Html.Partial("~/Views/PartialViews/HorizontalTabs/Role.cshtml")</p>
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $("#tabs").tabs();
            $(".vtabs").tabs().addClass("ui-tabs-vertical ui-helper-clearfix");
            $(".vtabs li").removeClass("ui-corner-top").addClass("ui-corner-left");
        });
    </script>

</body>
</html>
