
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Login", "Index", "Home", new { @class = "navbar-right" })</li>
    <li>@Html.ActionLink("Register", "Index", "Home", new { @class = "navbar-right" })</li>
    <li>@Html.ActionLink("Dicks", "Index", "Home", new { @class = "navbar-right" })</li>
</ul>

